* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  width: 100%;
  font-size: 18px;
  line-height: 180%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fake {
  font-size: 100px;
  line-height: 500px;
  color: rgba(0,0,0,0.1);
}

.popup__top {
  color: #fff;
  display: inline-block;
  margin: 100px auto;
  line-height: 50px;
  font-size: 50px;
  padding: 10px 20px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 20px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}


.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 1137px;
  padding: 14px 86px 28px 86px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  right: 30px;
  top: 14px;
  cursor: pointer;
}

.popup__title {
  font-size: 28px;
  line-height: 41px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.popup__media {
  margin-bottom: 20px;
  position: relative;
}

.popup__img {
  max-width: 100%;
  height: auto;
}

.popup__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__text {
  font-size: 18px;
  max-width: 780px;
  line-height: 100%;
}

.popup__link {
  margin-left: 10px;
  display: flex;
}

.popup__btn {
  padding: 5px 36px;
  background-color: #2F80ED;
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  display: inline-flex;
}

.popup__like {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 21px;
  right: -26px;
}

@media (max-width: 1137px) {
  .popup__content {
    padding-top: calc(9px + (14 - 9) * ((100vw - 320px) / (1137 - 320)));
    padding-right: calc(10px + (86 - 10) * ((100vw - 320px) / (1137 - 320)));
    padding-left: calc(10px + (86 - 10) * ((100vw - 320px) / (1137 - 320)));
    padding-bottom: calc(14px + (28 - 14) * ((100vw - 320px) / (1137 - 320)));
  }

  .popup__close {
    right: calc(10px + (30 - 10) * ((100vw - 320px) / (1137 - 320)));
    top: calc(9px + (14 - 9) * ((100vw - 320px) / (1137 - 320)));
  }

  .popup__title {
    margin-top: calc(-2px + (50 - -2) * ((100vw - 320px) / (1137 - 320)));
    margin-bottom: calc(10px + (40 - 10) * ((100vw - 320px) / (1137 - 320)));
  }

  
}

@media (max-width: 768px) {
    .popup__footer {
      flex-wrap: wrap;
    }

    .popup__link {
      margin-left: auto;
      margin-top: 10px;
      
    }

    /* .popup__media {
      height: 535px;
    } */

    /* .popup__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    } */

    .popup__like img {
      width: 40px;
      height: 40px;
    }

    .popup__like {
      right: -37px;
    }
}